.create {
        display: flex;
        min-height: 90vh;
        flex-direction: column;
        align-items: center;
        background-color: #f6f6f6;
        background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0.914), rgba(255, 170, 0, 0.897));
        background-size: cover;
        font-family:'Poppins', sans-serif;
        margin-bottom: 5em;
}

.formOfCreate {
        display: flex;
        flex-direction: column;
}