
.optionss {
    display: inline-block;
}

.formOfCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5em;
}

.formOfCreate input {
    width: 10em;
    height: 2em;
    margin: 1em 1em;
}

.formOfCreate {
    margin: 1em;
}

button {
    margin: 1em;
}
.firstDiv p {
    font-size: 2.5em;
    margin: 0 10px;
}
td{
    margin: 0 10px;
}

.firstDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}